{% extends 'base.html.twig' %}

{% block title %}Détail de votre utilisateur{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>Utilisateur : </h1>
    {% if user is not null %}
        <div class="card mb-1 m-auto text-white" style="background-color: #1b1e1f">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                    <h4 class="mb-1">{{ user.email }}</h4>
                    <small class="text-muted">Identifiant : {{ user.id }}</small>
                </div>
                <div class="d-flex justify-content-between card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-white" style="background-color: #1b1e1f">Nom de famille : {{ user.lastname }}</li>
                        <li class="list-group-item text-white" style="background-color: #1b1e1f">Prénom : {{ user.firstname }}</li>
                        <li class="list-group-item text-white" style="background-color: #1b1e1f">Username : {{ user.username is not null ? user.username : '-' }}</li>
                    </ul>
                    <p><small>
                        Rôle(s) : {% for roles in user.roles %} {{ roles }} {% endfor %}
                    </small></p>
                </div>
            </div>
        </div>
    {% else %}
        <div>Utilisateur non trouvé</div>
    {% endif %}
    <div class="row mb-3">
        <div class="col">
            <a href="{{ path('app_admin_user_edit', {id: user.id}) }}" class="btn btn-warning">Éditer</a>
        </div>
        <div class="col">
            <span class="float-end">
                <a href="{{ path('/') }}" class="link">Retour</a>
            </span>
        </div>
    </div>
</section>
{% endblock %}
