{% extends 'base.html.twig' %}

{% block title %}Détail d'un auteur{% endblock %}

{% block body %}
    <section class="container px-4">
        <div class="d-flex justify-content-between">
            <h1>Auteur : </h1>
            <span class="align-content-center">
                <a href="{{ path('app_admin_author_index') }}" class="link">Retour</a>
            </span>
        </div>
        {% if author is not null %}
            <div class="card mb-1 m-auto text-white" style="background-color: #1b1e1f">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <h4 class="mb-1">{{ author.name }}</h4>
                        <small class="text-muted">Identifiant : {{ author.id }}</small>
                    </div>
                    <div class="d-flex justify-content-between card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-white" style="background-color: #1b1e1f; border-bottom: 1px solid gray">Date de naissance : {{ author.dateOfBirth|date('d M Y H:i:s') }}</li>
                            <li class="list-group-item text-white" style="background-color: #1b1e1f">Date de décès : {{ author.dateOfDeath is not null ? author.dateOfDeath|date('d M Y') : '-' }}</li>
                        </ul>
                        <p><small>Nationalité : {{ author.nationality|country_name }}</small></p>
                    </div>
                </div>
            </div>
        {% else %}
            <div>Auteur non trouvé</div>
        {% endif %}
        <div class="row mb-3">
            <div class="col">
                <a href="{{ path('app_admin_author_edit', {id: author.id}) }}" class="btn btn-primary">Éditer</a>
            </div>
            <div class="col">
                <form action="{{ url('app_admin_author_delete', {id: author.id}) }}" method="POST" id="delete-form" class="float-end">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}">
                    <button type="submit" class="btn btn-danger" onclick="return confirmDelete()">Supprimer</button>
                </form>
            </div>
        </div>
    </section>
    <script>
        function confirmDelete() {
            return confirm('Êtes vous sûr de vouloir supprimer les données ?')
        }
    </script>
{% endblock %}
