{% extends 'base.html.twig' %}

{% set page_title = book is null ? 'Livre inconnu' : book.volumeInfo.title %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
	<section class="py-5">
		{% if book is not null %}
			<div class="container px-4 px-lg-5 my-5">
				<div class="row gx-4 gx-lg-5 align-items-center">
					<div class="col-md-6">
						{% if book.volumeInfo.imageLinks and book.volumeInfo.imageLinks.medium != null %}
                            <img class="card-img-top img-fluid" src="{{ book.volumeInfo.imageLinks.medium }}" alt="Première de couverture de {{ page_title }}" />
						{% else %}
							<div class="border text-center border-secondary d-flex align-items-center justify-content-center mb-3" style="height: 800px;">
								<p>Aucune image trouvée</p>
							</div>
						{% endif %}
					</div>
					<div class="col-md-6">
						<div class="small mb-1">ISBN:
							{% for isbn in book.volumeInfo.industryIdentifiers %}
								{{ isbn.identifier }}{% if not loop.last %}, {% endif %}
							{% else %}
								<p>ISBN inconnu</p>
							{% endfor %}
						</div>
						<h1 class="display-5 fw-bolder">{{ page_title }}</h1>
						<div class="fs-5">
							<span>Auteur(s):
							{% for author in book.volumeInfo.authors %}
								<a href="{{ path('app_search_author', {query: author}) }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
							{% else %}
								<p>Auteur inconnu</p>
							{% endfor %}
							</span>
                        </div>
                        <div class="fs-5">
                            <span>Éditeur: <a href="{{ path('app_search_editor', {query: book.volumeInfo.publisher}) }}">{{ book.volumeInfo.publisher }}</a></span>
                        </div>
                        <div class="fs-5">
							<span>{{ book.volumeInfo.pageCount }}{{ book.volumeInfo.pageCount is not null ? ' pages' }} - {{ book.volumeInfo.publishedDate|date('d M Y') }}</span>
                        </div>
                        <div class="fs-5">
                            <span>Categories: {{ book.volumeInfo.categories.0 }}</span>
                        </div>
						<div class="fs-5 mb-5">
							<span>{{ book.volumeInfo.averageRating }}{{ book.volumeInfo.averageRating is not null ? '/5' }}</span>
						</div>
						<p class="lead">{{ book.volumeInfo.description|striptags|raw }}</p>

{#						<div>#}
{#							<h2>Commentaire(s): </h2>#}
{#							<ul class="list-group-item">#}
{#								{% for comment in comments|slice(0, 2) %}#}
{#									<li class="list-group-item text-white mb-3 p-2" style="background-color: #1b1e1f; border: none">{{ comment.content|nl2br }}</li>#}
{#								{% else %}#}
{#									<li class="list-group-item text-white mb-3">Aucun commentaires</li>#}
{#									{% if app.user %}#}
{#										<a href="{{ path('app_comment_new', {book_id: book.id}) }}" class="btn btn-primary">Ajouter un commentaire</a>#}
{#									{% endif %}#}
{#								{% endfor %}#}
{#							</ul>#}
{#							{% if comments|length > 0 %}#}
{#								<a href="{{ path('app_comment_index', {id: book.id}) }}">Voir plus</a>#}
{#							{% endif %}#}
{#						</div>#}

					</div>
				</div>
			</div>
		{% else %}
			<div>Livre non trouvé</div>
		{% endif %}
	</section>
{% endblock %}
