{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="container px-4">
        <div class="w-50 m-auto">
            <h1>Inscription</h1>
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ form_row(form.lastname, {
                label: '* Nom de famille'
            }) }}
            {{ form_row(form.firstname, {
                label: '* Prénom'
            }) }}
            {{ form_row(form.username, {
                label: 'Username'
            }) }}
            {{ form_row(form.email, {
                label: '* Email'
            }) }}
            {{ form_row(form.plainPassword) }}
            <button type="submit" class="btn btn-primary">Inscription</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
